#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;  
}

h1, h2, h3, h4 {
    background-color: #0072b5;
    color: #ffffff;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #F0F8FF;
}

a:visited {
    color: #4C5E70;
}
